CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
CONFIG_ENABLE_COMP_AI_VIDEO=y
CONFIG_ENABLE_AI_UI_TEXT_STREAMING=y
CONFIG_CLAW_USE_SDCARD=y
CONFIG_ENABLE_HARDWARE_MCP=y
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_TUYA_T5AI_BOARD_EX_MODULE_35565LCD=y
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_BT_NETCFG=y
CONFIG_ENABLE_EX_MODULE_CAMERA=y
CONFIG_ENABLE_SERIAL_CLI_CMD=y
CONFIG_AI_INPUT_STACK_SIZE=28672
CONFIG_ENABLE_TUYA_CODEC_OPUS=y
# CONFIG_ENABLE_TUYA_CODEC_OPUS_IPC is not set
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_CUSTOM_CONFIG=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_FRAGMENT_LENGTH=y
CONFIG_ENABLE_MBEDTLS_SHA384_C=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_ENABLE_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
CONFIG_LVGL_ENABLE_TP=y
